<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BeamNGModsUpdateChecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BeamNGModsUpdateChecker.Properties.Settings>
            <setting name="UpdInterval" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="MinimizeOnStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowOnlyUnread" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartupDelayBeforeCheck" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Lang" serializeAs="String">
                <value>en-GB</value>
            </setting>
            <setting name="MainFormWidth" serializeAs="String">
                <value>748</value>
            </setting>
            <setting name="MainFormHeight" serializeAs="String">
                <value>456</value>
            </setting>
        </BeamNGModsUpdateChecker.Properties.Settings>
    </userSettings>
</configuration>